.project-box {
  padding: 10em 0 0 2em;
}

.project-box h2 {
  font-size: 2em;
  margin-bottom: 2em;
}

.project-name {
  background: #222;
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 0.2em 0.5em;
}

.project p {
  margin-left: 2em;
  position: relative;
  z-index: 6;
}

.project {
  position: relative;
  margin-bottom: 4em;
}

.features {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 0 2em;
  margin-top: 4em;
}

.features li {
  max-width: 275px;
  position: relative;
  z-index: 4;
  padding-left: 6em;
  margin-bottom: 4em;
}

.full-image-strength .features img {
  opacity: 1;
}

.features img {
  position: absolute;
  height: 90%;
  opacity: 0.6;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.features h3 {
  position: relative;
  z-index: 4;
}

.features p {
  margin-left: 0;
  position: relative;
  z-index: 4;
}


@media (max-width: 850px) {
  .project-box {
    padding: 10em 0 0 0em;
  }

  .project p {
    margin-left: 1em;
  }
  
  .features {
    justify-content: center;
    padding: 0;
  }
}