@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  cursor: url('./assets/closed.png') 20 10, crosshair;
}

.red-cursor {
  cursor: url('./assets/open.png') 20 10, crosshair;
}

.App {
  font-family: 'Roboto', sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1em;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}

p {
  max-width: 550px;
  line-height: 1.7em;
}

button {
  position: relative;
  border: 1px solid #222;
  margin-bottom: 1.5em;
  padding: 0;
  background: white;
  font-size: 1em;
  cursor: pointer;
  text-align: left;
  z-index: 4
}

button a {
  position: relative;
  z-index: 5;
  display: block;
  color: black;
  padding: 1em;
  text-decoration: none;
}


button::after {
  content: '→';
  position: absolute;
  top: 1em;
  right: 1em;
}

button a:hover {
  color: white;
  cursor: url('./assets/buttonopen.png') 20 10, crosshair;
}

a:hover {
  cursor: url('./assets/open.png') 20 10, crosshair;
}

button:hover {
  color: white;
  background: #222;
  cursor: url('./assets/open.png') 10 10, crosshair;
}

@media (max-width: 850px) {
  button:hover {
    background: white;
    color: #222;
  }
}