.contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  z-index: 5;
}

button.close {
  background: white;
  font-size: 1em;
  border: 1px solid #222;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

button.close::after {
  content: '';
}

#mc_embed_signup {
  position: relative;
  padding: 1em 3em 3em 3em;
  background: white;
  max-width: 700px;
  overflow-y: scroll;
}

.mc-field-group {
  position: relative;
  margin: 0 0 2em 0;
  padding-top: 1.4em;
  min-width: 300px;
}

.mc-field-group input {
  border: 2px solid #222;
  height: 3em;
  width: 98%;
  padding-left: 1em;
}

.mc-field-group label {
  cursor: url('./assets/closed.png') 20 10, crosshair;
  position: absolute;
  top: 0;
  left: 0;
}

.mc-field-group label.required::after {
  content: '*';
  color: red;
}

.mc-field-group.input-group label {
  position: relative;
  display: inline-block;
}

.mc-field-group ul {
  list-style: none;
  padding: 0;
}

.button {
  position: relative;
  border: 1px solid #222;
  margin-bottom: 1.5em;
  padding: 1em;
  background: white;
  font-size: 1em;
  cursor: pointer;
  text-align: left;
  z-index: 4
}

.button:hover {
  background: #222;
  color: white;
  cursor: url('./assets/buttonopen.png') 20 10, crosshair;
}

.check-group {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-group input {
  position: absolute;
  opacity: 0;
  width: auto;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.check-group:hover {
  cursor: url('./assets/open.png') 20 10, crosshair;
}

.check-group:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-group input:checked ~ .checkmark {
  background-color: #222;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-group input:checked ~ .checkmark:after {
  display: block;
}

.check-group .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#thank {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  display: none;
}

#thank h3 {
  text-align: center;
  font-size: 2em;
}
@media (max-width: 850px) {
  .mc-field-group {
    min-width: 215px;
  }
  
  .mc-field-group h3{
    font-size: 1em;
  }
  
  .mc-field-group label{
    font-size: 1em;
  }

  #mc_embed_signup h2 {
    font-size: 1em;
  }

  #mc_embed_signup {
    padding: 5em 1em 1em 1em;
    overflow-y: scroll;
  }

  .contact {
    background: white;
    padding: 1em;
  }
}