.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 8em 0;
  padding: 0 2em;
}

.footer button a {
  padding: 0.5em;
  display: block;
  color: black;
  text-decoration: none;
}

.first button {
  width: 70%;
}

.first button a {
  padding: 1em;
}

.first p {
  margin-top: 0;
}

.first {
  flex-grow: 3;
}

.second {
  width: 20%;
}

.second button {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 0
}

.second button:last-child {
  border-bottom: 1px solid #222;
}

.second button:after {
  content: "\2197\FE0E";
  top: 0.5em;
}

.second a {
  padding: 0.5em;
  display: block;
  color: black;
  text-decoration: none;

}

.footer button a:hover {
  color: white;
}

@media (max-width: 850px) {
  .first button {
    width: 100%;
  }

  .second {
    width: 100%;
  }

  .footer {
    padding: 0 1em;
  }

  .footer button:hover {
    background: white;
    color: #222;
  }

  .footer button a:hover {
    color: #222;
  }
}